<section #scrollContainer (scroll)="onScroll($event)" class="overflow-y-scroll h-screen">
    <app-gif-list [gifList]="gifService.trendingGifs()"></app-gif-list>
</section>


<!--<div class="grid grid-cols-2 md:grid-cols-4 gap-4 mt-10">
    @for (group of gifService.trendingGifsMasonryColumns(); track $index) {
    <div class="grid gap-4">
        @for (gif of group; track $index) {
        <div>
            <img class="h-auto max-w-full rounded-base" [src]="gif.url" [alt]="gif.title">
        </div>
        }
    </div>
    }
</div>-->